p{
    text-align: center;
}

h1{
    background-color: lightblue;
    text-align: center;
}

#paragraph{
    background-color: aliceblue;
    text-align: center;
}

body{
    margin:auto 0;
    padding:0;
}

audio{
    margin: 0 auto;
    display: block;
}